Test-Command: nft -h
Depends:
 @,
Restrictions:
 needs-root,
 superficial,

Tests:
 internaltest-shell.sh,
Depends:
 gawk,
 kmod,
 @,
Restrictions:
 allow-stderr,
 flaky,
 isolation-container,
 needs-root,

Tests:
 internaltest-monitor.sh,
Depends:
 @,
Restrictions:
 allow-stderr,
 flaky,
 isolation-container,
 needs-root,

Tests:
 internaltest-py.sh,
Depends:
 python3,
 @,
Restrictions:
 allow-stderr,
 flaky,
 isolation-container,
 needs-root,

Tests:
 internaltest-json-echo.sh,
Depends:
 python3,
 @,
Restrictions:
 allow-stderr,
 flaky,
 isolation-container,
 needs-root,

Tests:
 systemd-service-test.sh,
Depends:
 systemd,
 @,
Restrictions:
 allow-stderr,
 isolation-container,
 needs-root,
