Test-Command: nft -h
Depends: @
Restrictions: needs-root

Tests: internaltest-shell
Depends: @, kmod
Restrictions: needs-root, allow-stderr, isolation-container

Tests: internaltest-py
Depends: @, python
Restrictions: needs-root, allow-stderr, isolation-container, build-needed
