Source: nftables
Section: net
Priority: extra
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Uploaders: Arturo Borrero Gonzalez <arturo@debian.org>
Build-Depends: automake,
               bison,
               debhelper (>= 10),
               dh-autoreconf,
               dh-systemd,
               docbook2x,
               flex,
               libgmp-dev,
               libmnl-dev (>= 1.0.3),
               libnftnl-dev (>= 1.0.7),
               libreadline-dev,
	       libxtables-dev (>= 1.6.0+snapshot20161117-4),
               libtool (>=2.2.6)
Standards-Version: 3.9.8
Homepage: http://www.netfilter.org/
Vcs-Git: https://anonscm.debian.org/git/pkg-netfilter/pkg-nftables.git/
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-netfilter/pkg-nftables.git/

Package: nftables
Architecture: linux-any
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Program to control packet filtering rules by Netfilter project
 These are the user-space administration tools for the Linux
 kernel's netfilter and nftables. netfilter and nftables provide
 a framework for stateful and stateless packet filtering, network
 and port address translation, and other IP packet manipulation.
 The framework is the successor to iptables.
 .
 Netfilter and nftables are used in applications such as Internet
 connection sharing, firewalls, IP accounting, transparent proxying,
 advanced routing and traffic control.
 .
 A Linux kernel >= 3.13 is required. However, >= 4.10 is recommended.
