Source: nftables
Section: net
Priority: important
Maintainer: Arturo Borrero Gonzalez <arturo.borrero.glez@gmail.com>
Build-Depends: debhelper (>> 8.9.4), autoconf, automake, libtool (>=2.2.6), libnl-dev, flex, bison, libbison-dev, libnftables-dev, libgmp-dev, libreadline-dev
Standards-Version: 3.9.4
Vcs-Git: git://github.com/aborrero/pkg-nftables.git
Vcs-Browser: https://github.com/aborrero/pkg-nftables

Package: nftables
Architecture: any
Section: net
Depends: ${shlibs:Depends}
Description: Program to control packet filtering rules by Netfilter project.
 These are the user-space administration tools for the Linux
 kernel's netfilter and nftables. netfilter and nftables provide
 a framework for stateful and stateless packet filtering, network
 and port address translation, and other IP packet manipulation.
 The framework is the successor to iptables.
 .
 netfilter and nftables are used in applications such as Internet
 connection sharing, firewalls, IP accounting, transparent proxying,
 advanced routing and traffic control.

