Source: nftables
Section: net
Priority: optional
Maintainer: Arturo Borrero Gonzalez <arturo.borrero.glez@gmail.com>
Build-Depends: libnl-dev, flex, bison, libbison-dev, libnftables-dev, libgmp-dev, libreadline-dev
Standards-Version: 3.8.0

Package: nftables
Architecture: any
Priority: optional
Section: net
Depends: ${shlibs:Depends}
Description: Program to control packet filtering rules
