# ip6 saddr vmap { abcd::3 : accept }
__map%d test-netdev b
__map%d test-netdev 0
	element abcd0000 00000000 00000000 00000003 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234:1234:1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00001234 12341234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234::1234:1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 12341234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234::1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 00001234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234::1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12340000 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234::1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 00001234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234::1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12340000 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234:1234::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234:1234:1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 12340000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234:1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00000000 12341234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234::1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 00001234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234::1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 00000000 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234::1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12340000 00001234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234::1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 00000000 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12340000 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234:1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 00000000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234:1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00000000 00001234 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234::1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 00000000 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234::1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 00000000 00001234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234::1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12340000 00000000 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 00000000 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12340000 00000000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234:1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00000000 00000000 12341234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234::1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 00000000 00001234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234::1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 00000000 00000000 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12340000 00000000 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 00000000 00000000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234:1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00000000 00000000 00001234 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234::1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 00000000 00000000 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 00000000 00000000 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12340000 00000000 00000000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234:1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00000000 00000000 00000000 12341234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 00000000 00000000 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 00000000 00000000 00000000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::1234 : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 00000000 00000000 00000000 00001234 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { 1234:: : accept}
__map%d test-netdev b
__map%d test-netdev 0
	element 12340000 00000000 00000000 00000000 : accept
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap { ::/64 : accept}
__map%d test-netdev f
__map%d test-netdev 0
	element 00000000 00000000 00000000 00000000 : accept	element 00000000 00000001 00000000 00000000 flags 1
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap {1234:1234:1234:1234:1234:1234:aaaa:: : accept, ::aaaa : drop}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 aaaa0000 : accept	element 00000000 00000000 00000000 0000aaaa : drop
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap {1234:1234:1234:1234:1234:1234:aaaa:::accept, ::bbbb : drop}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 aaaa0000 : accept	element 00000000 00000000 00000000 0000bbbb : drop
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap {1234:1234:1234:1234:1234:1234:aaaa:::accept,::cccc : drop}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 aaaa0000 : accept	element 00000000 00000000 00000000 0000cccc : drop
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]

# ip6 saddr vmap {1234:1234:1234:1234:1234:1234:aaaa:::accept,::dddd: drop}
__map%d test-netdev b
__map%d test-netdev 0
	element 12341234 12341234 12341234 aaaa0000 : accept	element 00000000 00000000 00000000 0000dddd : drop
netdev test-netdev ingress 
  [ meta load protocol => reg 1 ]
  [ cmp eq reg 1 0x86dd ]
  [ payload load 16b @ network header + 8 => reg 1 ]
  [ lookup reg 1 set __map%d dreg 0 ]
